.source-root {
  width: 100%;
  height: 20rem;
  background-image: url("../../assets/svg/dashed-border.svg");
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary-x-light);
}

.source-root--active {
  background-color: var(--green-x-light);
  color: var(--green-dark);
}

.source-root--rejected {
  background-color: var(--red-x-light);
  color: var(--red-dark);
}
