@use "./src/scss/mixins/breakpoints";

.app--loading-fullscreen {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.app-wrapper {
  max-width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-columns:
                minmax(0, 1fr);
  grid-gap: 1rem;

  @include breakpoints.md {
    grid-template-columns:
                minmax(0, 2fr)
                minmax(0, 1fr)
                minmax(0, 2fr);
  }
}
